.jumbotron {
    background-image: url("../../assets/images/colorful_abstract.jpg");
    background-repeat: yes; 
    background-size: cover; 
    background-position: center;
    width: 100%;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: blueviolet;
}